* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: aqua;
}
.cards {
  padding: 50px;
}
.cards .cart-item {
  width: 500px;
  border: 1px solid black;
  padding: 20px 15px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: beige;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#a57f07, #fc00ff);
  border-radius: 10px;
}
