* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #00008bcb;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.wrapper .loader {
  display: flex;
  gap: 10px;
}
.loader .loading {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50px;
  animation: load 0.8s ease infinite;
}

.loader .loading.one {
  animation-delay: 0.3s;
}
.loader .loading.two {
  animation-delay: 0.4s;
}
.loader .loading.three {
  animation-delay: 0.5s;
}

@keyframes load {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}
